body {
    margin: 0%;
    padding: 0%;
    /* width: 100%; */
    /* height: 95vh; */
    /* background: url('main.jpg') no-repeat center center fixed; */
    /* background: url('nightsky.mp4') no-repeat center center fixed; */
    background-size: cover;
}

#bgvideo {
    /* background-size: cover; */
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*
.container{
    white-space: nowrap;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
 */
#line {
    border: none;
    border-bottom: 1px solid white;
    width: 20%;
    margin: auto;
    margin-top: 5vh;
}




/* newwwwwwwwwwwwwwwww */
.container {
    font-size: calc(10px + 5vw);
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: 5px solid black;
}

.title {
    /* border: 5px solid rgb(207, 30, 30); */
    /* width: 90vw; */
    display: flex;
    font-size: calc(20px + 3vw);
    /* font-size: 20px; */
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* margin: 20px; */
    margin-top: 15vh;
    /* margin-bottom: 0; */
    text-align: center;
    /* font-size: 2em;  */
    overflow-wrap: break-word;

}

#timer {
    font-size: calc(25px + 3vw);
    margin: auto;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    color: white;
}

.galaxy {
    /* border: 5px solid rgb(0, 224, 19); */
    width: 100vw;
    height: 100vh;
}
