* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    /* background-size: contain; */
}

#bgvideo {
    /* background-size: cover; */
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.container {
    word-wrap: break-word;
    color: white;
    /* font-size: 40px; */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 4px;
}

#line {
    border: none;
    border-bottom: 1px solid white;
    width: 20%;
    margin: auto;
    margin-top: 5vh;
}

.title {
    /* border: 5px solid rgb(207, 30, 30); */
    display: flex;
    font-size: calc(20px + 3vw);
    /* font-size: 50px; */
    /* font-size: 20%; */
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 15vh;
    text-align: center;
    overflow-wrap: break-word;
    /* text-shadow: 2px 2px black; */
}

.description {
    /* border: 5px solid rgb(207, 30, 30); */
    display: flex;
    font-size: calc(25px + 1vw);
    /* font-size: 40px; */
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    overflow-wrap: break-word;
    /* text-shadow: 2px 2px black; */
}

#endtimer,
#passedtimer {
    /* font-size: calc(18px + 3vw); */
    /* font-size: 40px; */
    font-size: calc(35px + 1vw);
    /* font-size: calc(15px + 3vw); */
    margin: auto;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.galaxy {
    /* border: 5px solid rgb(0, 224, 19); */
    width: 100vw;
    height: 100vh;
}

#bgpic {
    z-index: -2;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    /* min-height: 100%;  */
    /* max-width: 100%; */
    max-height: 100%;
    /* width: auto; */
    /* height: min-content; */
}